@using ProjectInit.Core.Entities.Projects
@using ProjectInit.WebUI.Controllers
@using ProjectInit.WebUI.Helpers
@model List<Project>

@{
    ViewData["Title"] = "Список проєктів";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-md-2">
        <a href="/projects/create" class="btn btn-success btn-block">Додати курс</a>
    </div>
    <div class="col-md-2">
        <a href="/projects/index?viewtype=@ViewType.Cards" class="btn btn-secondary btn-block"><i class="fa-regular fa-clone"></i> Як картки</a>

    </div>
</div>


<div class="card card-default mt-3">
    <div class="px-6 py-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Назва курсу та проєкту</th>
                    <th>Статус</th>
                    <th>Групи</th>
                    <th>Інше</th>
                    <th>Дії</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>
                            Курс: <strong>@p.CourseName</strong><br />
                            Проєкт: <strong>@p.ProjectName</strong><br />
                            <strong>@p.Teacher.FullName</strong>
                        </td>
                        <td>
                            @if (p.IsActive)
                            {
                                <span class="text-success"><i class="fa-solid fa-lock-open"></i>&nbsp;Відкритий</span>
                            }
                            else
                            {
                                <span><i class="fa-solid fa-lock-close"></i>&nbsp;Закритий</span>
                            }
                        </td>
                        <td>@p.Groups</td>
                        <td>
                            Лінки: <strong>@p.Links.Count()</strong><br />
                            Теми: <strong>@p.Items.Count()</strong>
                        </td>
                        <td>
                            <a href="/projects/details/@p.Id" class="btn btn-primary">Детально</a>
                            <a href="/projects/edit/@p.Id" class="btn btn-warning">Редагувати</a>
                            <a href="/projects/delete/@p.Id" class="btn btn-danger">Видалити</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>




